<ion-content>
  <div class="account-page--account-info-container">
    <canvas id="account-page--qr-code-container">

    </canvas>
    <div class="account-page--wallet-balance-container">
      <span>3 Eth</span>
    </div>
  </div>

  <div class="account-page--copy-address-button-container" (click)="copyDepositAddress()">
    <div class="account-page--copy-address-button">
      Copy Deposit Address
    </div>
    <div>
      <ion-icon name="copy-outline"></ion-icon>
    </div>
  </div>
</ion-content>
